html, body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: #eeeeee;
    color: #333333;
}

body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}    

#top-pane, #main-pane, #side-pane, #bottom-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#top-pane {
    left: 200px;
    height: 44px;
    bottom: auto;
    background: #ddd;
    border-bottom: 1px solid #999;
}

#main-pane {
    top: 45px;
    bottom: 0;
    left: 220px;
    overflow: auto;
}

#side-pane {
    width: 200px;
    right: auto;
    overflow: auto;
    background: #eee;
    border-right: 1px solid #999;
    background: #ddd;
}

#filters .filter {
    padding: 3px 6px;
}

#filters .filter-input {
    width: 180px;
}

#search {
    margin: 5px 10px;
    font-size: 120%;
    position: relative;
    height: 40px;
}

#search-input {
    width: 100%;
}

.tag {
    float: left;
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    position: relative;
}

.applications .application-item .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

.applications .application-item .item-tags .tag {
    margin-top: 15px;
}

.applications .application-item .item-tags .removable-tag {
    padding-right: 22px;
}

.applications .application-item .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 16px;
    background: url("/img/close_16.png") no-repeat 0 center;
}

.applications .application-item .item-tags .tag .remove:hover {
    background-position: -16px center;
}

.applications .application-item .item-tags div.addtag {
    background: none;
    color: #333;
    border: 1px dashed #999;
}


